 {#
 # This file is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation; either version 2 of the License, or
 # (at your option) any later version.
 #
 # GLPI is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with GLPI. If not, see <http://www.gnu.org/licenses/>.
 # -----
 #}


{% import 'components/form/fields_macros.html.twig' as macros %}
  

       <div class="card-body">
          {{ macros.hiddenField('users_id', user_id) }}
          {{ macros.dropdownYesNo('editmode', session, 'Edit mode (valid for current session only, will be reset at next login)') }}
       </div>
       <div class="card-body mx-n2 mb-4 border-top d-flex flex-row-reverse align-items-start flex-wrap">
          <button class="btn btn-primary me-2" type="submit" name="update" value="1">
             <i class="far fa-save"></i>
             <span>Save</span>
          </button>
       </div>

  